<!DOCTYPE html>
<html>
<head>
  <title>Zoomtag</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Gorditas:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
  <![endif]-->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
